#div1{
	background-color:yellow;
	height:500px;
	width:500px;
	position:absolute;
	left:200px;
}
#para1{
	position: relative;
}
#inp1{
	margin-top: 50px;
	position: relative;
}
div input{
	margin-left: 50px;
}
div p{
	margin-left: 50px;
}